header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: var(--font-Poppins);
    color: var(--gray-500);
    font-size: clamp(0.5rem, 1.5vw, 1rem);
    font-weight: 700;
    padding: 20px 20px;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--font-Montserrat);
    color: var(--white);
    height: 90vh;
}

.timer-number {
    font-size: clamp(4rem, 15vw, 9.375rem);
    font-weight: 700;
    line-height: 1;
}

.timer-buttons {
    display: flex;
    gap: 20px;
}

.timer-button {
    width: clamp(44px, 8vw, 60px);
    height: clamp(44px, 8vw, 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--timer-button-border);
    border-radius: 50%;
    background: var(--bg);
    backdrop-filter: blur(10px);
    color: var(--white);
    cursor: pointer;
    transition: .25s ease;
}

.timer-button:hover {
    transform: translateY(-3px);
    background: var(--hover-button-effect);
}

.timer-button:active {
    transform: scale(.95);
}